* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    color: #333;
}
.container {
    background-color: #aef7e7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 689px;
}
header {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background: linear-gradient(to right, #1995AD, #A1D6E2);
    color: #fff;
}
header img {
    height: 60px;
    margin: 0;
    margin-right: 20px;
    max-width: 100%;
}
header .home-button {
    background-color: #585658;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 0;
}
header .home-button:hover {
    background-color: #000000;
}

nav {
   text-align: center;
   margin: 3%;
}
nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #06c9b8;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
}
nav a:hover {
    background-color: #b928b9;
    transition: scale(1.5);
}
nav a:active {
    background-color: #000000;
}
.section {
    margin-top: 34px;
    display: none;
}
.section.active {
    display: block;
}
h1, h2, p {
    margin: 2%;
    text-align: center;
}
h1 {
    font-size: 1.7em;
    /* Ensure main h1 is smaller than report header h1 */
}

h2 {
    font-size: 1.7em;
    /* Ensure main h1 is smaller than report header h1 */
}

p{
    font-size: 1.6em;
    font-weight: 490;
}
.pdf-container {
    text-align: center;
    margin: 20px 0;
}
.pdf-container iframe {
    width: 100%;
    height: 600px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
footer {
    bottom: 0px;
    text-align: center;
    padding: 0%;
    margin: auto;
    height: 60px;
    background: linear-gradient(to left, #1995AD, #A1D6E2);
    color: #fff;
}
footer a b{
    margin-top: 10px;
    height: 20px;
    color: #dae1e2;
    text-decoration: none;
}
footer a:hover b:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    header .home-button {
        font-size: 14px;
        padding: 8px 16px;
    }
    header img {
        height: 80px;
    }
    .pdf-container iframe {
        height: 50px;
    }
}